<div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <h2 class="text-center">Galería de Fotos</h2>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar fotos..." [(ngModel)]="searchTerm" name="search">
            <!-- Agregamos el atributo name -->
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="search()">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  
    <div class="row">
        <div *ngFor="let photo of filteredPhotos" class="col-md-4 mb-4">
            <div class="card">
              <img [src]="photo.url" class="card-img-top" alt="{{ photo.title }}">
              <div class="card-body">
                <p class="card-text">{{ photo.title }}</p>
              </div>
            </div>
          </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-12">
        <h2 class="text-center">Posts</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let post of posts">
        <app-card [title]="post.title" [body]="post.body"></app-card>
      </div>
    </div>
  </div>