<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center">
            <img src="https://media.licdn.com/dms/image/C4E03AQFfhiS9RpPg4Q/profile-displayphoto-shrink_800_800/0/1651592483174?e=1718841600&v=beta&t=2h3N58nipwVQwGrsfOLWxGYuFdB80DfSF3nlH24ZV60" alt="Dali Juarez" class="img-fluid rounded-circle mb-3" style="width: 150px;">
            <h2 class="card-title mb-3">Dali Juarez</h2>
            <p class="card-text">Front-end Developer</p>
            <p class="card-text">Experiencia: 4 años</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  